body {
  background: url(../img/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


nav .nav-wrapper {
  background: #e0f2f1;
  min-height: 10vh;
}


.logo{
  width: 150px;
  position: absolute;
  z-index: 2;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
}

.turimo-slogan {
  margin-top: 2rem;
  font-size: 16px;
  font-weight: bold;
}
